@page "/"
@using Doot.Models
@using Doot.Services
@inject IIssueService _issueService;

@if (_loadException != null)
{
    throw _loadException;
}
<div class="custom-flex-row scrollable-content">
    <div class="custom-h1 what-is-the-issue">What is the Issue?</div>
    <input class="input-box seach-box" type="text" placeholder="Search" />

    <div class="issue-list">
        @foreach(var issue in knownIssues)
        {
            <NavLink class="selectable-box issue-box" href="@($"/issue-detail/{issue.Id}")">
                <span>@issue.Id</span>
                <span>@issue.Title</span>
            </NavLink>
        }
    </div>
</div>

@code {
    private List<KnownIssue> knownIssues = new List<KnownIssue>();
    private Exception? _loadException;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            knownIssues = await _issueService.GetKnownIssues();
        }
        catch (Exception ex)
        {
            _loadException = ex;
        }
    }
}

<style>
    .what-is-the-issue{
        margin-top: 50px;
        font-size: 40px;
    }

    .seach-box{
        font-size: 20px;
        width: 50%;
        margin-top: 20px;
        background-image: url('/Images/search.png');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 16px 16px;
        padding-right:40px;
    }
    .issue-box{
        font-size: 20px;
        display: flex;
        gap: 10px;
    }
    .issue-list{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }
</style>