@inherits LayoutComponentBase

<div class="custom-layout">
    <div class="custom-sidbar">
        <NavMenu />
    </div>

    <main >
        <div class="page-container">
            @Body
        </div>
    </main>
</div>
